/* EMACS CONFIGURATION GENERATOR style sheet */

/* General page style */
body {
    font-size: 14pt;
    line-height: 1.4;
    max-width: max(90%, 80ch);
    margin: 1em auto;
    padding: 0 1em;
}

/* Fix monospace font size on Mozilla browers */
kbd, code, tt {
    font-family: monospace, monospace;
}

/* Utility class for right-align elements (e.g. Emacs logo) */
.right {
    float: right;
}

/* Markup for comments that we would like to bring attention to */
.note {
    background: rgba(0.5,0.5,0.5,0.1);
    font-style: oblique;
    padding: 1em;
}

/* Only display images when a choice is selected (e.g. Screenshots) */
.choice {
    list-style: none;
}
.choice img {
    display: none;
    float: right;
    margin: 8px;
    max-width: min(60ch, 50%);
    border: 1px solid silver;
}
.choice input:checked ~ img {
    display: block;
}

/* Indicate that a package is being configured. */
.package > .package-name {
    float: right;
    padding: 4px;
    margin-top: -4px;
    background: rgba(0.5,0.5,0.5,0.1);
}

/* Emphasise if a package can be enabled. */
.package .cond ~ label {
    font-style: italic;
}

/* Only allow a package to be configured if selected */
.package .cond ~ .dependent {
    opacity: 0.5;
}
.package .cond ~ .dependent input {
    pointer-events: none;
}
.package .cond:checked ~ .dependent {
    opacity: initial;
}
.package .cond:checked ~ .dependent input {
    pointer-events: initial;
}

/* Utility class for multi-column lists (e.g. the "Further links" section) */
.multicol {
    column-width: 25ch;
}

/* Format the footer */
footer {
    text-align: center;
    font-size: 80%;
    background: rgba(0.5,0.5,0.5,0.1);
    padding: 8px;
}

/* mobile version */
@media only screen and (max-width: 600px) {
    /* hide the Emacs logo at the top of the page */
    img.right {
	display: none;
    }

    /* display images right below the selection */
    .choice img {
	float: none;
	margin: 8px;
	max-width: 100%;
    }
}
